<form action="/dishes" method="post">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <label for="">food name</label><br>
  <input type="text" placeholder="dish name" name="name"><br>
  <label for="">image url</label><br>
  <input type="text" placeholder="place image url here.." name="image_url">
  <button>create</button>

</form>