<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div class="search_wrapper">
    <div class="search_box">
      <h1 class="invitation">CHECK MOVIES HERE</h1>
      <form action="/movie_choice">
      <input type="text" name="title" placeholder="movie name">
      <button>search</button>
      </form>
    </div>
  </div>



</body>
</html>