<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/about">about</a></li>
              <!--link to the page,itcanbe http://localhost:4567/about-->
      <li><a href="/movie">movie</a></li>
    </ul>
  </nav>


  <%= yield %>

</body>
</html>