<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    html, body {
      width: 100%;
      height: 100%;
      background: <%= color %>;
    }/*bg color does not work properly on Chrome unless appended to html*/
  </style>
</head>
<body>
  <h2><%= name %></h2>
  <span><%= compliment %></span> 
</body>
</html>


